{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  <section class="py-6 position-relative {{ .styles.background_c }}">
    <div class="container position-relative wvu-z-index-content">
      <div class="{{ .styles.background_c }} pb-0 pb-xl-0">
        {{ if or .heading .subheading }}          
          <div class="row text-center mb-5">
            <div class="col-xl-12 mx-xl-auto">
              <h2 class="h1 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg">{{ .heading }}</h2>
              {{ with .subheading }}
                <p class="lead">{{ . }}</p>
              {{ end }}
            </div>
          </div>
        {{ end }}
        
        <div class="row gx-4 text-center">
          {{ range .items }}
            <div class="col-24 col-lg-12 col-xl-8 mb-5">
              <div class="position-relative px-5 py-6 h-100 {{ .styles.section_background_c }} rounded-2 shadow-sm">
                <h3 class="iowan-old-style h1">{{ .title }}</h3>
                <p>{{ .text }}</p>
                <a class="stretched-link" href="{{ .url }}"><span class="fa-thin fa-arrow-circle-right display-4 text-wvu-neutral--cream"></span></a>
              </div>
            </div>
          {{ end }}
        </div>

        {{ with .postscript }}
          <div class="text-center">
            {{ with .copy }}
              <div class="mb-4">
                {{ . | markdownify }}
              </div>
            {{ end }}

            {{ with .postscript_ctas }}
              {{ partial "bookshop" (slice "design-system/generic/button-group" (dict "buttons" .buttons "size" "button-group-sm" "color" .styles.section_background_c)) }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>

{{ end }}