{{ $directoryData := slice }}

{{ if site.Data.people_data }}
  {{ $directoryData = where site.Data.people_data "dir_include" true }}
{{ end }}

{{ $directory := sort $directoryData "last_name" "asc" }}

<!-- Loop By: sort_order -->
<section id="wvu-main-content" class="py-6">  
  <div class="container wvu-z-index-content">
    <ul class="list-unstyled">
      {{ range $directory }}
        <li class="border-bottom border-1 border-black-50 pt-4 pb-4 pb-sm-4">
          <div class="row">
            <div class="col-24 col-sm-8 mb-2 mb-sm-0">
              <div class="row">
                <div class="col-lg-8 col-xxl-6 my-2 my-lg-0">
                  <div class="ratio ratio-1x1">
                    <img class="rounded-circle shadow w-100 h-100 object-fit" src="/files/5e0fcbad-8922-44ed-8940-70932b454951/200x200.webp?cb=b947a06916753b1c88fd93634e54f588" alt="Firstname Lastname headshot">
                  </div>
                </div>
                <div class="col-lg-16 col-xxl-18 d-sm-none d-lg-block">
                  <p class="mb-0 py-2">
                    <strong class="d-block">{{ .name }}</strong>
                    {{ range .position }}
                      <span class="d-block">{{ .title }}, {{ .organization }}</span>
                    {{ end }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-24 col-sm-14">
              <div class="row">
                <div class="col-12">
                  <p class="mb-0 py-2">
                    {{ range .staff_contact_info }}
                      {{ if eq ._bookshop_name "design-system/simple/phone" }}
                        <a href="tel:{{ .phone_n }}">{{ .phone_n }}</a><br>
                      {{ end }}
                      {{ if eq ._bookshop_name "design-system/simple/email" }}
                        <a href="mailto:{{ .address }}">{{ .address }}</a><br>
                      {{ end }}
                    {{ end }}
                  </p>
                </div>
                <div class="col-12">
                  <p class="mb-0 py-2">
                    <span class="fa-solid fa-user-circle"></span> <a href="https://designsystem.wvu.edu/people/lorem-ipsum-dolor-sit-amet-consectetur">View Profile<span class="visually-hidden">: Lorem Ipsum Dolor Sit Amet Consectetur</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      {{ end }}
    </ul>
  </div>
</section>