{{ $alt := "" }}
{{ $containerStyles := "" }}
{{ $publishDate := "" }}
{{ $format := "January 2, 2006" }}

{{ if .params.publishDate }}
  {{ $publishDate := .params.publishDate }}
  {{ $publishDate = time.AsTime $publishDate }}
  {{ $publishDate = $publishDate.Format $format }}
{{ end }}

<header id="" aria-labelledby="" class="position-relative">
  <div class="container wvu-z-index-content pt-8 pb-4">
    <div class="row">
      <div class="col-xl-16 mx-xl-auto text-center">
        <h1 id="big-search-1-label" class="display-5 iowan-old-style mb-3">{{ if .params.title }}{{ .params.title }}{{ end }}</h1>
        {{ if .params.subheading }}
          <p class="helvetica-neue-light fs-4 mb-0">{{ .params.subheading }}</p>
        {{ end }}
        <p class="mt-4 mb-0 iowan-old-style text-uppercase">{{ $publishDate }}</p>
        <div class="d-flex mt-4 justify-content-center">
          {{ if not site.Data }}
            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display content inside the Bookshop browser." ) ) }}
          {{ else if and (site.Params.env_bookshop_live) (ne .topper.show_byline true) }}
            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Show Byline' is currently set to 'false' to speed up editing. To see the byline, check the 'Show Byline' box in the topper config." ) ) }}
          {{ else }}
            {{ partial "bookshop" (slice "design-system/simple/byline" (dict "params" .params)) }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>