{{ $articles := "" }}
{{ $limit := 5 }}

{{ if .limit }}
  {{ $limit = .limit }}
{{ end }}

{{ $tags := slice }}

{{ if .article_tags }}
  {{ $tags = .article_tags }}
{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  {{ if .heading }}
    <h2 class="h6 oliviar-black mb-4 border-top border-1 border-wvu-blue pt-2">{{ .heading }}</h2>
  {{ end }}

  {{ if not site.Data }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display the collection pages inside the bookshop browser" ) ) }}
  {{ else if and (site.Params.env_bookshop_live) (not .config.show_content) }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Hide collection pages' is currently selected in this component to speed up the editing of other areas - to see the pages here uncheck 'hide collection pages'" ) ) }}
  {{ else }}

    {{ $authorData := site.Data.people_data }}

    {{ if not site.Params.env_bookshop_live }}
      {{ $articles = where site.Pages "Section" "articles" }}
      {{ $articles = where $articles "Params.article_tags" "intersect" $tags }}
    {{ else }}
      {{ $articles = where site.Data.site_pages ".type" "articles" }}
      {{ $articles = where $articles ".article_tags" "intersect" $tags }}
    {{ end }}

    <div class="">
      {{ range first $limit $articles }}

        {{ $params := "" }}
        {{ $link := "" }}

        {{ if not site.Params.env_bookshop_live }}
          {{ $params = .Params }}
          {{ $link = .RelPermalink }}
        {{ else }}
          {{ $params = . }}
        {{ end }}

        {{ $authors := slice }}

        {{ if $params.authors }}
          {{ $authors = $params.authors }}
        {{ end }}
        
        {{ $authorList := slice }}

        {{ range $authorData }}
          {{ $author := . }}
          {{ range $authors }}
            {{ if eq .author $author.uuid }}
              {{ $authorList = $authorList | append $author }}
            {{ end }}
          {{ end }}
        {{ end }}
        
        {{ $src := $params.image.src }}

        {{- if not site.Params.env_bookshop_live -}}
          {{ $image := "" }}
          {{/*  Get the image, either from its remote or local source  */}}
          {{ if hasPrefix $src "http"}}
            {{ $image = resources.GetRemote $params.image.src }}
          {{ else }}
            {{ $image = resources.Get $params.image.src }}
          {{ end }}

          {{/* Resize images and add them to a variable  */}}
          {{ if and $image (ne $image.MediaType.SubType "svg") }}
            {{ $src = ($image.Fill (printf "%dx%d webp" 100 100)).RelPermalink }}
          {{ end }}
        {{- end -}}
        
        <div class="wvu-articles">
          <div class="mb-4" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="row gx-3">

              <div class="wvu-article__thumb col-md-6">
                <div class="ratio ratio-1x1 bg-light">
                  <a class="wvu-article-link" href="{{ $link }}" aria-hidden="true" tabindex="-1">
                    <img src="{{ $src }}" height="100px" width="100px" class="h-100 object-fit-cover" alt="$params.image.alt" />
                  </a>
                </div>
              </div>

              <div class="col-md-18 mt-3 mt-md-0">
                <h2 class="fs-5 mb-1" itemprop="headline"><a class="newsletter-link" href="{{ $link }}">{{ $params.title }}</a></h2>

                {{ if or (not $params.config.hide_author) ( $params.publishDate ) }}
                  <p class="small d-block">
                    {{ if not $params.config.hide_author }}
                      {{ range $authorList }}
                        <span class="wvu-article__author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                          <span itemprop="name">
                            {{ .name }}
                          </span>
                        </span>
                      {{ end }}
                    {{ end }}

                    {{ if and (not $params.config.hide_author) ( $params.publishDate ) }} | {{ end }}

                    {{ if $params.publishDate }}
                      <time datetime="{{ $params.publishDate }}">{{ $params.publishDate | time.Format "Monday, January 2, 2006" }}</time>
                    {{ end }}
                  </p>
                {{ end }}
              </div>

            </div>
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}

{{ end }}