{{ $src := .params.profile_image }}

{{ if .topper.settings.styles.color_palette }}
  {{ $backgroundColor = .topper.settings.styles.color_palette }}
{{ end }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ $src = ($image.Fill (printf "%d%d webp" 960 960 )).RelPermalink }}
  {{ end }}
{{- end -}}

<section class="audience-{{ .topper.settings.styles.audience }} tone-{{ .topper.settings.styles.tone}} bg-{{ .topper.settings.styles.color_palette }} position-relative py-7">
  {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" "" "styles" .topper.settings.styles "layout" .topper.settings.layout)) }}
  <div class="container mb-5 wvu-z-index-content">
    <div class="row gx-lg-0 align-items-center">
      <div class="col-lg-12 mx-auto">
        <div class="row gx-4 gx-lg-5">
          {{ if and .params.profile_image }}
            <div class="col-8">
              <div class="ratio ratio-1x1">
                <img class="img-fluid h-100 w-100 rounded-circle" src="{{ $src }}" />
              </div>
            </div>
          {{ end }}
          <div class="col">

            <h1 class="display-3 wvu-b-display-heading"><span class="wvu-b-font-adjust">{{ .params.name }}</span></h1>

            {{ if or .params.occupation .params.job_title }}
              <div class="mb-4">
                {{ with .params.occupation }}
                  <p class="antonia-bold mt-2 fs-4 mb-0">{{ . }}</p>
                {{ end }}
                {{ with .params.job_title }}
                  <p class="antonia-regular text-uppercase">{{ range . }}<span class="d-block">{{ . }}</span>{{ end }}</p>
                {{ end }}
              </div>
            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>