{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  
  {{ $contacts := slice }}

  <h2 class="h6 oliviar-black mb-4 border-top border-1 border-wvu-blue pt-2">{{ .heading }}</h2>

  {{ if not site.Data }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display the collection pages inside the bookshop browser" ) ) }}
  {{ else if and (site.Params.env_bookshop_live) (not .config.show_content) }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Hide collection pages' is currently selected in this component to speed up the editing of other areas - to see the pages here uncheck 'hide collection pages'" ) ) }}
  {{ else }}

    {{ if not site.Params.env_bookshop_live }}
      {{ $contacts = where site.RegularPages "Params.is_contact" true }}
    {{ else }}
      {{ $contacts = where site.Data.people_data ".is_contact" true }}
    {{ end }}

    {{ $label := .label }}
    {{ range .people }}
      {{ with $label }}<div class="mb-3 position-relative"><p class="helvetica-neue-bold mx-n2 my-n1 bg-wvu-accent--sunset d-inline-block">{{ . }}</p></div>{{ end }}
      {{ $contact := .contact }}
      {{ range $contacts }}

        {{ $params := . }}

        {{ if not site.Params.env_bookshop_live }}
          {{ $params = .Params }}
        {{ end }}

        {{ if eq $params.uuid $contact }}
          <div class="row mb-4">
            {{ if $params.profile_image }}

              {{ $src := $params.profile_image }}

              {{- if not site.Params.env_bookshop_live -}}
                {{ $image := "" }}
                {{/*  Get the image, either from its remote or local source  */}}
                {{ if hasPrefix $src "http"}}
                  {{ $image = resources.GetRemote $src }}
                {{ else }}
                  {{ $image = resources.Get $src }}
                {{ end }}

                {{/* Resize images and add them to a variable  */}}
                {{ if and $image (ne $image.MediaType.SubType "svg") }}
                  {{ $src = ($image.Fill (printf "%dx%d webp" 250 250)).RelPermalink }}
                {{ end }}
              {{- end -}}

              <div class="col-6">
                <div class="ratio ratio-1x1">
                  <img class="object-fit" src="{{ $src }}" alt="{{ if $params.image.alt }}{{ $params.image.alt }}{{ else }}Portrait of {{ $params.name }}{{ end }}" />
                </div>
              </div>
            {{ end }}
            <div class="col">
              <h3 class="h5">{{ $params.name }}</h3>
              <p class="small">
                {{ range $params.phone }}
                  <span class="fa-solid fa-phone"></span> <a href="tel:{{ .number }}">{{ .number }}</a><br>
                {{ end }}
                {{ range $params.email }}
                  <span class="fa-solid fa-envelope"></span> <a href="mailto:{{ .email }}">{{ .email }}</a>
                {{ end }}
              </p>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}