{{ $src := .params.profile_image }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote .params.profile_image }}
  {{ else }}
    {{ $image = resources.Get .params.profile_image }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ if eq .imageProcess "fit" }}
      {{ $src = ($image.Fit (printf "%dx%d webp" 960 960)).RelPermalink }}
    {{ else }}
      {{ $src = ($image.Fill (printf "%dx%d webp" 960 960)).RelPermalink }}
    {{ end }}
  {{ end }}
{{- end -}}

<section class="pt-6 position-relative">
  <div class="container mb-6 wvu-z-index-content">
    <div class="row">
      <div class="col-xl-18 col-xxl-12 mx-xl-auto">
        Topper: {{ .topper }}
        Params: {{ .params }}
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6">
            <div class="ratio ratio-1x1">
              <div class="w-100 h-100 overflow-hidden rounded-circle">
                {{ if .params.profile_image }}
                  <img class="img-fluid" src="{{ $src}}" alt="" />
                {{ else }}
                  <img class="img-fluid" src="https://placehold.co/960x960" alt="Placeholder image." />
                {{ end }}
              </div>
            </div>
          </div>
          <div class="col-lg-18">
            <p class="wvu-shout wvu-text-letter-spacing-lg mb-5">Staff</p>
            <div class="bg-white text-dark  wvu-z-index-content">
    
              <h1 class="display-5 oliviar-black text-wvu-blue">{{ .params.name }}</h1>

              {{ if .params.position }}
                <div class="mt-3">
                  {{ range .params.position }}
                    <p class="fs-5 lh-1">
                      {{ if .title }}<span class="d-block helvetica-neue-bold">{{ .title }}</span>{{ end }}
                      {{ if .organization }}<span class="d-block helvetica-neue-light">{{ .organization }}</span>{{ end }}
                    </p>
                  {{ end }}
                </div>
              {{ end }}

              {{ if .params.staff_contact_info }}
                <div class="mt-4">
                  {{ partial "bookshop_bindings" `.params.staff_contact_info` }}
                  {{ partial "bookshop_partial" (slice "page" .params.staff_contact_info) }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>