{{ $layout := .settings.layout }}
{{ $styles := .settings.styles }}
{{ $config := .settings.config }}

{{ if or site.Params.env_bookshop_live (ne $config.edit_mode_only true) }}

  <section class="py-6 position-relative bg-{{ $styles.background_c }}{{ if $styles.tint_shade }}-subtle{{ end }}">
    <div class="container position-relative wvu-z-index-content">
      <div class="{{ $layout.buffer }}">
        <div class="bg-{{ $styles.background_c }}{{ if $styles.tint_shade }}-subtle{{ end }} {{ $layout.margin }} pb-0 pb-xl-0">
          {{ if or .heading .subheading }}          
            <div class="row text-center mb-5">
              <div class="col-xl-12 mx-xl-auto">
                <h2 class="h1 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg">{{ .heading }}</h2>
                {{ with .subheading }}
                  <p class="lead">{{ . }}</p>
                {{ end }}
              </div>
            </div>
          {{ end }}
          
          <div class="row gx-4 text-center">
            {{ range .items }}
              <div class="col-24 col-lg-12 col-xl-8 mb-5">
                <div class="position-relative px-5 py-6 h-100 {{ if .background_c }}bg-{{ .background_c }}{{ else }}bg-{{ $styles.background_c }}-subtle{{ end }} rounded-2 shadow-sm">
                  <h3 class="iowan-old-style h1">{{ .title }}</h3>
                  <p>{{ .text }}</p>
                  <a class="stretched-link" href="{{ .url }}"><span class="fa-thin fa-arrow-circle-right display-4 {{ if .accent_c }}text-{{ .accent_c }}{{ end }}"></span></a>
                </div>
              </div>
            {{ end }}
          </div>

          {{ with .postscript }}
            <div class="text-center">
              {{ with .copy }}
                <div class="mb-4">
                  {{ . | markdownify }}
                </div>
              {{ end }}

              {{ with .ctas }}
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  {{ range . }}
                    <a class="btn btn-{{ $styles.background_c }} {{ if not $styles.tint_shade }}bg-{{ $styles.background_c }}-subtle{{ end }}" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

{{ end }}