{{ $src := "" }}
{{ $imageSize := "" }}
{{ $backgroundColor := "bg-white text-dark" }}
{{ $headingColor := "text-wvu-blue" }}
{{ $pattern := "" }}
{{ $patternOpacity := "1" }}

{{ with .params.image }}
  {{ $src = . }}
  {{ $imageSize = "960x640" }}
{{ end }}

{{ with .topper.background_image }}
  {{ $src = . }}
  {{ $imageSize = "1920x1280" }}
{{ end }}

{{ if .topper.settings.styles.color_palette }}
  {{ $backgroundColor = .topper.settings.styles.color_palette }}
{{ end }}

{{ if and .topper.background_image (not .topper.settings.styles.enable_blend) }}
  {{ $backgroundColor = "option-2" }}
{{ end }}

{{ if .topper.background_image }}
  {{ $backgroundColor = "bg-dark text-white" }}
{{ end }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ $src = ($image.Fill (printf "%s webp" $imageSize)).RelPermalink }}
  {{ end }}
{{- end -}}

<section class="audience-{{ .topper.settings.styles.audience }} tone-{{ .topper.settings.styles.tone}} bg-{{ $backgroundColor }} position-relative py-7">
  {{ if not .topper.background_image }}
    {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" "" "styles" .topper.settings.styles "layout" .topper.settings.layout)) }}
  {{ else }}
    {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .topper.settings.styles "layout" .topper.settings.layout)) }}
  {{ end }}
  <div class="container mb-5 wvu-z-index-content">
    <div class="row gx-lg-0 align-items-center {{ if or .topper.background_image (not .params.image) }}py-6{{ end }}">
      <div class="col-lg-12 {{ if .topper.background_image }}{{ .topper.settings.layout.text_placement }}{{ else }}mx-auto{{ end }}">
        <div class="row gx-4 gx-lg-5">
          <div class="col">
            {{ with .topper.label }}
              <div class="mb-4">
                <p class="wvu-b-label">{{ . }}</p>
              </div>
            {{ end }}

            <h1 class="display-3 wvu-b-display-heading"><span class="wvu-b-font-adjust">{{ .params.name }}</span></h1>

            {{ if or .params.contacts .params.location }}
              <div class="row">
                {{ with .params.location }}
                  <div class="col-md mb-5 mb-md-0">
                    <h2 class="config-extra-bold h6 mt-5">Location</h2>
                    {{ range . }}
                      <div class="d-flex w-100">
                        <span class="fa-regular fa-location-dot"></span>
                        <p>
                          {{ with .name }}<strong class="d-block">{{ . }}</strong>{{ end }}
                          {{ range .lines }}
                            <span class="block">{{ . }}</span>
                          {{ end }}
                          {{ with .map_link }}
                            <a class="d-block text-decoration-none" href="{{ . }}">View on Map</a>
                          {{ end }}
                        </p>
                      </div>
                    {{ end }}
                  </div>
                {{ end }}
                {{ with .params.contacts }}
                  <div class="col-md">
                    <h2 class="config-extra-bold h6 mt-5">Contacts</h2>
                    <p>
                      {{ range . }}
                        <span class="d-block"><span class="d-block me-3"><span class="fa-regular fa-user"></span> {{ .name }}</span> {{ with .phone }}<span class="d-block me-3"><span class="fa-regular fa-phone"></span> <a class="text-decoration-none" href="tel:{{ . }}">{{ . }}</a></span>{{ end }} {{ with .email }}<span class="d-block"><span class="fa-regular fa-envelope"></span> <a class="text-decoration-none" href="mailto:{{ . }}">{{ . }}</a></span>{{ end }}</span>
                      {{ end }}
                    </p>
                  </div>
                {{ end }}
              </div>
            {{ end }}
            {{ with .params.social_media_accounts }}
              <h2 class="config-extra-bold h6 mt-5">Follow</h2>
              <ul class="list-inline">
                {{ range . }}
                  <li class="list-inline-item"><a class="text-decoration-none" href="{{ .url }}"><span class="fa-brands fa-facebook"></span> {{ .platform }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
        </div>
      </div>
      {{ if and .params.image (not .topper.background_image) }}
        <div class="col-lg-12">
          <img class="img-fluid wvu-shadow-filter border border-3 border-dark" src="{{ $src}}" alt="" />
        </div>
      {{ end }}
    </div>
  </div>
</section>