{{ define "component" }}

  {{ $superHeadingStyles := .styles.super_heading }}
  {{ $headingSize := partial "bookshop_partial" (slice "heading_resizer" (dict "heading" .elements.heading "font" .styles.heading.font)) }}

  {{ partial "bookshop_partial" (slice "section_background" (dict "src" .elements.background_image.src "styles" .styles)) }}

  <div class="container position-relative {{ .layout.padding_y }}">
    <div class="row">
      <div class="col col-md-14 col-xl-12">
        <div class="border border-1 border-white wvu-bg-filter-blur p-5 m-n5">
        
          {{ with .elements.super_heading }}
            {{ partial "bookshop" (slice "simple/super_heading" (dict "elements" . "styles" $superHeadingStyles)) }}
          {{ end }}

          <h2 id="{{ .config.aria_labelled_by }}-label" class="{{ $headingSize }} {{ range .styles.heading }}{{ . }} {{ end }} mb-3" {{ if and .styles.heading .styles.heading.decoration }}{{ if eq .styles.heading.decoration "wvu-text-echo-outline" }}data-text="{{ .elements.heading }}"{{ end }}{{ end }}>{{ .elements.heading }}</h2>

          {{ if .elements.subheading }}
            {{ partial "bookshop" (slice "generic/subheading" (dict "text" .elements.subheading "styles" .styles.subheading)) }}
          {{ end }}

          {{ if .elements.lead }}
            {{ partial "bookshop" (slice "generic/lead" (dict "text" .elements.lead "styles" .styles.lead)) }}
          {{ end }}

          {{ if .elements.copy }}
            <div class="{{ range .styles.copy }}{{ . }} {{ end }}">
              {{ .elements.copy | markdownify }}
            </div>
          {{ end }}

          {{ if .elements.ctas }}
            {{ range .elements.ctas }}
              CTA
            {{ end }}
          {{ end }}

        </div>
      </div>
    </div>
  </div>

{{ end }}

{{ partial "bookshop_partial" (slice "section_tag" .) }}