{{ $src := .background_image }}
{{ $backgroundColor := "bg-wvu-blue text-white" }}
{{ $headingColor := "text-wvu-gold" }}
{{ $placement := "mx-xl-auto text-center" }}

{{ if .background_image }}
  {{ $backgroundColor = "bg-dark text-white" }}
  {{ $headingColor = "text-wvu-gold" }}
{{ end }}

{{ if .settings.styles.background_c }}
  {{ $backgroundColor = .settings.styles.background_c }}
{{ end }}

{{ if and .settings.styles .settings.styles.heading_c }}
  {{ $headingColor = .settings.styles.heading_c }}
{{ end }}

{{ if and .settings.layout .settings.layout.text_placement }}
  {{ $placement = .settings.layout.text_placement }}
{{ end }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote .background_image }}
  {{ else }}
    {{ $image = resources.Get .background_image }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ if eq .imageProcess "fit" }}
      {{ $src = ($image.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
    {{ else }}
      {{ $src = ($image.Fill (printf "%dx%d webp" 1920 1080)).RelPermalink }}
    {{ end }}
  {{ end }}
{{- end -}}

<header id="" class="c-topper-hero bg-{{ $backgroundColor }} position-relative py-7 text-center">
  {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .settings.styles)) }}
  <div class="container wvu-z-index-content {{ .layout.container_margin }}">
    <div class="row py-6">
      <div class="col-xl-16 {{ $placement }}">
        {{ if .heading }}
          {{ if and .title .config }}
            <h1 class="vibe-label h6 mb-6 text-uppercase wvu-text-letter-spacing-lg {{ if and .config (not .config.show_label) }}visually-hidden{{ end }}">{{ .title }}</h1>
          {{ end }}
          <h2 id="" class="config display-3 text-{{ .settings.styles.heading_c }}">
            {{ range .heading }}
              <span class="d-inline-block">{{ .text }} </span>
            {{ end }}
          </h2>
        {{ else }}
          <h1 id="" class="vibe-primary-heading display-3 text-{{ $headingColor }}">{{ .title }}</h1>
        {{ end }}
        <p class="vibe-subheading h4 mt-4">{{ .subheading }}</p>
        <div class="vibe-body mt-4">
          {{ .body_text | markdownify }}
        </div>
      </div>
    </div>
  </div>
</header>