{{ $src := .params.image_lg }}
{{ $bgSrc := .topper.background_image }}
{{ $backgroundColor := "bg-white text-dark" }}
{{ $headingColor := "text-wvu-blue" }}
{{ $pattern := "" }}
{{ $patternOpacity := "1" }}

{{ if .params.image_lg }}
  {{ $backgroundColor = "bg-dark text-white" }}
  {{ $headingColor = "text-wvu-gold" }}
{{ end }}

{{ if and .topper.styles .topper.styles.background_c }}
  {{ $backgroundColor = .topper.styles.background_c }}
{{ end }}

{{ if and .topper.styles .topper.styles.heading_c }}
  {{ $headingColor = .topper.styles.heading_c }}
{{ end }}

{{ $vibe := .topper.styles.vibe }}

{{ if eq $vibe "down-to-business" }}
  {{ $pattern = "wvu-bg-pattern-grid" }}
  {{ $patternOpacity = "0.4" }}
{{ else }}
  {{ $pattern = "wvu-bg-topo-map" }}
  {{ $patternOpacity = "0.1" }}
{{ end }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote .params.image_lg }}
  {{ else }}
    {{ $image = resources.Get .params.image_lg }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ if eq .imageProcess "fit" }}
      {{ $src = ($image.Fit (printf "%dx%d webp" 960 640)).RelPermalink }}
    {{ else }}
      {{ $src = ($image.Fill (printf "%dx%d webp" 960 640)).RelPermalink }}
    {{ end }}
  {{ end }}

  {{ $bgImage := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $bgImage = resources.GetRemote .params.background_image }}
  {{ else }}
    {{ $bgImage = resources.Get .params.background_image }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $bgImage (ne $bgImage.MediaType.SubType "svg") }}
    {{ if eq .imageProcess "fit" }}
      {{ $bgSrc = ($bgImage.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
    {{ else }}
      {{ $bgSrc = ($bgImage.Fill (printf "%dx%d webp" 1920 1080)).RelPermalink }}
    {{ end }}
  {{ end }}
{{- end -}}

<section class="py-6 {{ .topper.styles.background_c }} position-relative">
  {{ partial "bookshop_partial" (slice "section_background_alt" (dict "image" $bgSrc "alt" .topper.alt_text "styles" .topper.styles)) }}
  <div class="container mb-6 wvu-z-index-content">
    <div class="row gx-lg-0 align-items-center">
      <div class="col-lg-12">
        <p class="wvu-shout wvu-text-letter-spacing-lg ms-lg-4 text-wvu-accent--yellow mt-n5">Alumni Profile</p>
        <div class="bg-white text-dark p-xl-5 me-xl-n5 wvu-z-index-content">
          {{ if .params.graduation_year }}
            <div class="mb-4">
              <p class="oliviar-black text-uppercase"><span>{{ .params.graduation_year }} Graduate</span></p>
            </div>
          {{ end }}

          <h1 class="display-4 oliviar-black">{{ .params.name }}</h1>

          {{ with .params.job_title }}
            <p class="oliviar-thin mt-2 fs-5"><span class="d-block">{{ range . }}{{ . }}{{ end }}</span></p>
          {{ end }}

        </div>
      </div>
      <div class="col-lg-12">
        {{ if .params.image_lg }}
          <img class="img-fluid" src="{{ $src}}" alt="" />
        {{ else }}
          <img class="img-fluid" src="https://placehold.co/1200x800" alt="Placeholder image." />
        {{ end }}
      </div>
    </div>
  </div>
</section>