{{ $src := .topper.background_image }}
{{ $backgroundColor := "wvu-blue" }}
{{ $headingColor := "text-wvu-gold" }}
{{ $placement := "mx-xl-auto text-center" }}

{{ $audience := .audience }}

{{ with .topper.settings.styles.audience }}
  {{ $audience = . }}
{{ end }}

{{ if .topper.background_image }}
  {{ $backgroundColor = "dark" }}
  {{ $headingColor = "text-wvu-gold" }}
{{ end }}

{{ if .topper.settings.styles.background_c }}
  {{ $backgroundColor = .topper.settings.styles.background_c }}
{{ end }}

{{ if and .topper.settings.styles .topper.settings.styles.heading_c }}
  {{ $headingColor = .topper.settings.styles.heading_c }}
{{ end }}

{{ if and .topper.settings.layout .topper.settings.layout.text_placement }}
  {{ $placement = .topper.settings.layout.text_placement }}
{{ end }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote .topper.background_image }}
  {{ else }}
    {{ $image = resources.Get .topper.background_image }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ if eq .imageProcess "fit" }}
      {{ $src = ($image.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
    {{ else }}
      {{ $src = ($image.Fill (printf "%dx%d webp" 1920 1080)).RelPermalink }}
    {{ end }}
  {{ end }}
{{- end -}}

<header id="" class="c-topper-hero audience-{{ $audience }} tone-{{ .topper.settings.styles.tone}} bg-option-{{ .topper.settings.styles.color_palette }} bg-{{ $backgroundColor }} position-relative py-7 text-center">
  {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .topper.settings.styles)) }}
  <div class="container wvu-z-index-content {{ .topper.layout.container_margin }}">
    <div class="{{ .topper.settings.layout.buffer }}">
      <div class="row py-6">
        <div class="col-xl-16 {{ $placement }}">
          {{- if not site.Params.env_bookshop_live -}}
            <h1 class="visually-hidden">{{ .Params.title }}</h1>
          {{ end }}

          {{ with .topper.label }}
            <p class="vibe-label h6 mb-6 text-uppercase wvu-text-letter-spacing-lg">{{ . }}</p>
          {{ end }}
          
          {{ if .topper.heading }}
            <h2 id="" class="wvu-b-display-heading wvu-b-accent-text wvu-b-text-shadow wvu-b-text-outline display-2 text-{{ .topper.settings.styles.heading_c }}" data-text="{{ .topper.heading }}">
              {{ .topper.heading }}
            </h2>
          {{ end }}
          <p class="vibe-subheading h4 mt-4">{{ .topper.subheading }}</p>
          <div class="vibe-body mt-4">
            {{ .topper.body_text | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>