<div class="row justify-content-center gx-xl-5">
  <div class="col-xl-12 mb-5 mb-xl-0">
    {{ if and .column_a .column_a._bookshop_name }}
      {{ partial "bookshop" (slice .column_a._bookshop_name .column_a) }}
    {{ end }}
  </div>
  <div class="col-24 col-lg-12 col-xl-6 mb-5 mb-xl-0">
    {{ if and .column_b .column_b._bookshop_name }}
      {{ partial "bookshop" (slice .column_b._bookshop_name .column_b) }}
    {{ end }}
  </div>
  <div class="col-24 col-lg-12 col-xl-6">
    {{ if and .column_c .column_c._bookshop_name }}
      {{ partial "bookshop" (slice .column_c._bookshop_name .column_c) }}
    {{ end }}
  </div>
</div>