<div class="row justify-content-center gx-xl-5">
  <div class="col-xl-12 mb-5 mb-xl-0">
    {{ with .column_a }}
      {{ if not .is_dynamic }}
        {{ partial "bookshop" (slice ._bookshop_name .) }}
      {{ else }}
        Is dynamic.
      {{ end }}
    {{ end }}
  </div>
  <div class="col-24 col-lg-12 col-xl-6 mb-5 mb-xl-0">
    {{ with .column_b }}
      {{ partial "bookshop" (slice ._bookshop_name .) }}
    {{ end }}
  </div>
  <div class="col-24 col-lg-12 col-xl-6">
    {{ with .column_c }}
      {{ if not .is_dynamic }}
        {{ partial "bookshop" (slice ._bookshop_name .) }}
      {{ else }}
        Is dynamic.
      {{ end }}
    {{ end }}
  </div>
</div>