{{ $src := "" }}

{{ if .topper.background_image }}
  {{ $src = .topper.background_image }}
{{ end }}

<header id="" class="c-topper-hero audience-{{ .topper.settings.styles.audience }} tone-{{ .topper.settings.styles.tone}} bg- position-relative py-7">
  {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .topper.settings.styles "layout" .topper.settings.layout)) }}
  <div class="container wvu-z-index-content">
    <div class="{{ .topper.settings.layout.buffer }}">
      <div class="row py-6">
        <div class="col-xl-16 col-xxl-12 {{ .topper.settings.layout.text_placement }}">
          {{ if .topper.label }}
            <p class="h6 mb-6 wvu-b-label">{{ .topper.label }}</p>
          {{ end }}
          
          <h1 id="" class="wvu-b-display-heading wvu-b-text-shadow wvu-b-text-outline" data-text="{{ .topper.heading }}">
            <span class="wvu-b-font-adjust">{{ .topper.heading }}</span>
          </h1>

          {{ if .topper.subheading }}
            <p class="fs-3 my-3 wvu-b-text wvu-b-subheading"><span class="xwvu-b-font-adjust">{{ .topper.subheading }}</span></p>
          {{ end }}

          {{ if .topper.markdown }}
            <div class="mt-5 wvu-b-text">
              {{ .topper.markdown | markdownify }}
            </div>
          {{ end }}

          {{ if .topper.ctas }}
            <div class="mt-4">
              {{ range .topper.ctas }}
                {{ $buttonColor := "primary" }}
                {{ if .button_c }}
                  {{ $buttonColor = .button_c }}
                {{ end }}
                <a class="btn wvu-b-btn btn-lg mb-1" href="{{ .url }}">{{ .text }} {{ if .icon }}<span class="fa-regular fa-{{ .icon }}"></span>{{ end }}</a>
              {{ end }}
            </div>
          {{ end }}

          {{ if .topper.postscript }}
            {{ if .topper.postscript.markdown }}
              <div class="mt-4">
                {{ .markdown | markdownify }}
              </div>
            {{ end }}
          {{ end }}

        </div>
      </div>
    </div>
  </div>
</header>