{{ $src := .topper.background_image }}

<header id="" class="c-topper-hero audience-{{ .topper.settings.styles.audience }} tone-{{ .topper.settings.styles.tone}} bg- position-relative py-7">
  {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" .topper.background_image "styles" .topper.settings.styles "layout" .topper.settings.layout)) }}
  <div class="container wvu-z-index-content">
    <div class="{{ .topper.settings.layout.buffer }}">
      <div class="row py-6">
        <div class="col-xl-16 col-xxl-12 {{ .topper.settings.layout.text_placement }}">
          {{ if .topper.label }}
            <p class="h6 mb-6 wvu-b-label">{{ .topper.label }}</p>
          {{ end }}
          
          <h1 id="" class="wvu-b-display-heading wvu-b-text-shadow wvu-b-text-outline" data-text="{{ .topper.heading }}">
            <span class="wvu-b-font-adjust">{{ .topper.heading }}</span>
          </h1>

          {{ if .topper.subheading }}
            <p class="fs-3 my-3 wvu-b-text wvu-b-subheading"><span class="xwvu-b-font-adjust">{{ .topper.subheading }}</span></p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>