{{ $src := .params.image_lg.src }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ if eq .imageProcess "fit" }}
      {{ $src = ($image.Fit (printf "%dx%d webp" 960 640)).RelPermalink }}
    {{ else }}
      {{ $src = ($image.Fill (printf "%dx%d webp" 960 640)).RelPermalink }}
    {{ end }}
  {{ end }}
{{- end -}}

<section class="pt-6 pb-9 bg-light">
  <div class="container">
    <div class="row gx-lg-0 align-items-center">
      <div class="col-lg-12 mx-auto">
        <div class="bg-white p-xl-5 {{ if $src }}me-xl-n5{{ end }} wvu-z-index-content">

          {{ if .params.name }}
            <h1 class="display-4">{{ .params.name }}</h1>
          {{ end }}

          {{ if .params.position }}
            <div class="mt-3">
              {{ range .params.position }}
                <p class="fs-5 lh-1">
                  {{ if .title }}<span class="d-block helvetica-neue-bold">{{ .title }}</span>{{ end }}
                  {{ if .organization }}<span class="d-block helvetica-neue-light">{{ .organization }}</span>{{ end }}
                </p>
              {{ end }}
            </div>
          {{ end }}

          {{ if .params.staff_contact_info }}
            <div class="mt-4">
              {{ partial "bookshop_bindings" `.params.staff_contact_info` }}
              {{ partial "bookshop_partial" (slice "page" .params.staff_contact_info) }}
            </div>
          {{ end }}

          {{ if .params.files }}
            <div class="mt-3">
              {{ range .params.files }}
                <a class="btn btn-sm btn-primary" class="{{ .file }}">{{ .name }}{{ if .icon }} <span class="fa-regular fa-{{ .icon }}"></span>{{ end }}</a>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
      {{ if $src }}
        <div class="col-lg-12">
          <div class="ratio ratio-3x2">
            <img class="h-100 w-100 object-fit-cover" src="{{ $src }}" alt="" />
          </div>
        </div>
      {{ else }}
        {{- if site.Params.env_bookshop_live -}}
          <div class="col-lg-12">
            <img class="img-fluid" src="https://placehold.co/1200x800" alt="Placeholder image." />
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>