{{ $typography := slice }}
{{ $stylesH1 := "" }}
{{ $stylesHometown := "" }}

<section class="pt-6 pb-9 bg-light">
  <div class="container">
    <div class="row gx-lg-0 align-items-center">
      <div class="col-lg-12">
        <div class="bg-white p-xl-5 me-xl-n5 wvu-z-index-content">

          {{ if .params.name }}
            <h1 class="display-4 {{ $stylesH1 }}">{{ .params.name }}</h1>
          {{ end }}

          {{ if .params.position }}
            <div class="mt-3">
              {{ range .params.position }}
                <p class="fs-5 lh-1">
                  {{ if .title }}<span class="d-block helvetica-neue-bold">{{ .title }}</span>{{ end }}
                  {{ if .organization }}<span class="d-block helvetica-neue-light">{{ .organization }}</span>{{ end }}
                </p>
              {{ end }}
            </div>
          {{ end }}

          {{ if .params.staff_contact_info }}
            <div class="mt-4">
              {{ partial "bookshop_bindings" `.params.staff_contact_info` }}
              {{ partial "bookshop_partial" (slice "page" .params.staff_contact_info) }}
            </div>
          {{ end }}

          {{ if .params.files }}
            {{ range .params.files }}
              <a class="btn btn-sm btn-primary" class="{{ .file }}">{{ .name }}{{ if .icon }} <span class="{{ .icon }}"></span>{{ end }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-12">
        <img class="img-fluid" src="https://placehold.co/1200x800" />
      </div>
    </div>
  </div>
</section>