{{ range .items }}

  {{ $src := .image }}

  <div class="row gx-lg-5 mb-6 alternating-grid">
    <div class="col-lg-12 order-rotate mb-5 mb-lg-0">
      {{ if .image }}
        <div class="ratio ratio-3x2">
          {{ partial "bookshop" (slice "design-system/generic/img" (dict "src" $src "height" 640 "width" 960 "classes" "object-fit-cover")) }}
        </div>
      {{ end }}
    </div>
    <div class="col-lg-12 order-2">
      <div class="h-100 d-flex align-items-center">
        <div class="mt-lg-n5 fs-5">
          <h3 class="h1 oliviar-black text-wvu-blue">{{ .heading }}</h3>
          <div class="mb-3">
            {{ .copy | markdownify }}
          </div>
          {{ with .ctas }}
            {{ range . }}
              <a class="btn btn-primary" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}