{{ $src := .image }}
{{ $imageClasses := "object-fit-contain" }}

{{ $styleData := site.Data.component_styles.profile_generic }}

{{ $testStyles := index $styleData .settings.styles.audience }}
{{ $colorPalette := index $testStyles.color_palettes .settings.styles.color_palette }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ if .settings.layout.is_cutout }}
      {{ $src = ($image.Fit (printf "%dx%d webp" 640 960)).RelPermalink }}
    {{ else }}
      {{ $src = ($image.Fill (printf "%dx%d webp" 960 640)).RelPermalink }}
    {{ end }}
  {{ end }}
{{- end -}}

<div class="bg-{{ $colorPalette.card_c }} border border-2 border-dark wvu-shadow-hard-filter {{ .settings.layout.margin_no_bg }}">
  <div class="row gx-0">
    <div class="col-12 ms-auto">
      <h2 class="wvu-text-vertical wvu-shout h6 small wvu-text-letter-spacing-lg h-100 wvu-z-index-max"><span class="d-block bg-{{ $colorPalette.accent_c }} p-2">Spotlight</span></h2>
      <div class="{{ if .settings.layout.is_cutout }}p-5{{ else }}pe-5{{ end }} w-100 h-100 position-relative">
        <div class="h-100 position-relative">
          <div class="w-100 h-100">
            <div class="row h-100">
              {{ if .settings.layout.is_cutout }}
                {{ $imageClasses = printf "%s%s" "mt-n6 mb-n5 " $imageClasses }}
                <div class="wvu-bg-img">
                  <div class="wvu-bg-topo-map bg-{{ $colorPalette.pattern_c }} h-100 w-100" style="opacity: 1"></div>
                </div>
                <div class="col-xxl-17 mx-xxl-auto d-flex justify-content-center align-items-end wvu-z-index-content">
                  <div class="wvu-z-index-content">
                    <img class="object-fit mb-n5 mt-n6" src="{{ $src }}" alt="Portrait of {{ .name }}" />
                  </div>
                </div>
              {{ else }}
                <div class="w-100 h-100 d-flex justify-content-center align-items-end wvu-z-index-content">
                  <div class="wvu-z-index-content">
                    <img class="object-fit" src="{{ $src }}" alt="Portrait of {{ .name }}" />
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mx-auto">
      <div class="row">
        <div class="col-16">
          <div class="wvu-z-index-content position-relative px-3 py-6">
            {{ with .label }}
              <div class="{{ $testStyles.label }}">
                <p class="">
                  {{ range . }}
                    <span class="d-block">{{ . }}</span>
                  {{ end }}
                </p>
              </div>
            {{ end }}
            <h3 class="h1 {{ $testStyles.heading }} text-{{ $colorPalette.accent_c }}">{{ .name }}</h3>
            {{ with .info }}
              <div class="fs-5 small">
                {{ range . }}
                  <p class="mb-0">{{ . }}</p>
                {{ end }}
              </div>
            {{ end }}
            <div class="my-3">
              {{ .copy | markdownify }}
            </div>
            <p><a href="" class="text-decoration-none text-{{ $colorPalette.accent_c }}"><span class="fa-solid fa-user-circle"></span> View Profile</a></p>
          </div>
        </div>
        <div class="col-8 d-flex align-items-center position-relative">
          <div class="my-6">
            {{ if .ctas }}
              <h2 class="text-uppercase small h6 wvu-text-letter-spacing-lg">See More</h2>
              <ul class="list-unstyled w-100 me-n4 small mb-5">
                {{ range .ctas }}
                  <li class="border-bottom border-dotted border-wvu-accent--blue-subtle"><a class="d-flex w-100 justify-content-between align-items-center py-2 text-decoration-none" href="{{ .url }}">{{ .text }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
            <div class="me-n6 mx-n3">
              <div class="ratio ratio-16x9 bg-dark position-relative wvu-shadow-hard-filter">
                <div class="text-{{ $colorPalette.accent_c }} d-flex w-100 h-100 align-items-center justify-content-center">
                  <span class="small d-block me-2 mt-n1">Watch Video</span> <span class="d-block fa-regular fa-circle-play h2"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <div class="bg-wvu-accent--yellow h-100 p-5 d-flex flex-column justify-content-center px-xxl-6">
        <h2 class="h6 helvetica-neue-condensed-black wvu-text-letter-spacing-lg text-uppercase mb-4">WVU Experience</h2>
        <blockquote class="ms-0 border-0 border-wvu-gold">
          <span class="d-block wvu-shout wvu-text-outline text-wvu-gold display-1 mb-n3">“</span>
          <p class="oliviar-thin fs-2 mb-0">My most valuable experience [at WVU] would be the relationships I’ve been able to make within the Davis College. I certainly don’t know everyone, but at the same time, I feel as if there aren’t any strangers here.</p>   
        </blockquote>
      </div> -->
      
    </div>
  </div>
</div>