{{ $containerMargin := "" }}

{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name (dict "topper" .topper "params" .params "title" .params.title)) }}
  {{ if ne .topper._bookshop_name "design-system/topper/article" }}
    {{ $containerMargin = "mt-n9" }}
  {{ end }}
{{ else }}
  {{ partial "bookshop" (slice "design-system/topper/article" (dict "topper" .topper "params" .params "title" .params.title)) }}
{{ end }}

<main class="py-6 position-relative">
  <div class="container iowan-old-style {{ $containerMargin }}">
    <div class="row">
      <div class="col-xl-14 mx-xl-auto">
        <div class="bg-white p-5">
          {{ range .article_blocks }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>