{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name .) }}
{{ end }}

{{ range .blocks }}

  {{ if and .is_sitewide site.Params.env_bookshop_live }}
    <div class="py-6 py-xxl-7">
      <div class="container">
        <div class="alert alert-info">
          This is a sitewide section. It will not show in the Live Editor.
        </div>
      </div>
    </div>
  {{ end }}

  {{ $audienceOverride := "" }}
  {{ $toneOverride := "" }}
  {{ $bgSubtle := "" }}

  {{ if .settings.styles.audience }}
    {{ $audienceOverride = "override-audience-styles-site" }}
  {{ end }}

  {{ if .settings.styles.tone }}
    {{ $toneOverride = "override-tone-styles-site" }}
  {{ end }}

  {{ $src := "" }}
  {{ $backgroundColor := "" }}

  {{ if .settings.styles.color_palette }}
    {{ $backgroundColor = .settings.styles.color_palette }}
  {{ end }}

  {{ if and .background_image }}
    {{ $src = .background_image }}
    {{ if not .settings.styles.enable_blend }}
      {{ $backgroundColor = "dark" }}
    {{ end }}
  {{ end }}

  {{ if .settings.styles.bg_subtle }}
    {{ $bgSubtle = "wvu-b-subtle" }}
  {{ end }}

  {{ $heading := "" }}
  {{ $subheading := "" }}

  {{ if .heading }}{{ $heading = .heading }}{{ end }}
  {{ if .subheading }}{{ $subheading = .subheading }}{{ end }}

  {{- if not site.Params.env_bookshop_live -}}
    {{ $image := "" }}
    {{/*  Get the image, either from its remote or local source  */}}
    {{ if hasPrefix $src "http"}}
      {{ $image = resources.GetRemote .background_image }}
    {{ else }}
      {{ $image = resources.Get .background_image }}
    {{ end }}

    {{/* Resize images and add them to a variable  */}}
    {{ if and $image (ne $image.MediaType.SubType "svg") }}
      {{ if eq .imageProcess "fit" }}
        {{ $src = ($image.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
      {{ else }}
        {{ $src = ($image.Fill (printf "%dx%d webp" 1920 1080)).RelPermalink }}
      {{ end }}
    {{ end }}
  {{- end -}}

  {{ if or site.Params.env_bookshop_live (ne .settings.config.edit_mode_only true) }}

    {{ $styles := .settings.styles }}

    <section id="{{ with .uuid }}{{ . }}{{ end }}" class="c-section-{{ ._component_name }} {{ $audienceOverride }} {{ $toneOverride }} audience-{{ .settings.styles.audience }} tone-{{ .settings.styles.tone }} wvu-b-text xsection-component {{ .settings.layout.padding }} position-relative bg-{{ $backgroundColor }} {{ $bgSubtle }}">
      {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .settings.styles "config" .settings.config)) }}
      {{ if .is_nested }}
        {{ with .heading }}
          <h2 class="position-absolute display-4 wvu-text-vertical wvu-b-display-heading wvu-b-accent-text h6 small wvu-text-letter-spacing-lg h-100 wvu-z-index-max mt-n5 mx-0"><span class="d-block bg- p-2">{{ . }}</span></h2>
        {{ end }}
      {{ end }}
      <div class="{{ .settings.layout.buffer }}">
        <div class="container wvu-z-index-content">
          <div class="row">
            <div class="container">
              <div class="{{ with .settings.layout.max_cols }}col-xxl-{{ . }} mx-xxl-auto{{ end }}">            
                <div class="{{ .settings.layout.margin }} {{ if .settings.layout.margin }}{{ if not .settings.styles.remove_container_background }}bg-option-1 p-5 p-xl-6 wvu-b-shadow wvu-b-border{{ end }}{{ end }}">
                  
                  {{ if not .is_nested }}
                    {{ if .settings.config.include_heading_postscript }}
                      {{ if .heading }}
                        <div class="pb-3">
                          <div class="mb-5 text-center">
                            {{ with .heading }}
                              <h2 class="wvu-shout h1 wvu-text-letter-spacing-lg mb-3">{{ . }}</h2>
                            {{ end }}

                            {{ with .subheading }}
                              <p class="lead mb-3">{{ . }}</p>
                            {{ end }}
                          </div>
                        </div>
                      {{ end }}

                      {{ if and (not .is_dynamic) .settings.config.show_content }}
                        {{ partial "bookshop" . }}
                      {{ else }}
                        Is dynamic.
                      {{ end }}

                      {{ with .postscript }}
                        <div class="text-center">
                          {{ with .copy }}
                            <div class="mb-4">
                              {{ . | markdownify }}
                            </div>
                          {{ end }}

                          {{ with .ctas }}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                              {{ range . }}
                                <a class="btn btn-{{ $styles.background_c }} bg-{{ $styles.background_c }}-subtle" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
                              {{ end }}
                            </div>
                          {{ end }}
                        </div>
                      {{ end }}
                    {{ else }}
                      {{ partial "bookshop" . }}
                    {{ end }}
                  {{ else }}
                    <div class="row justify-content-center gx-xl-5">
                      {{ with .column_a }}
                        <div class="col-xl mb-5 mb-xl-0">
                          {{ if or (ne .show_content false) (not site.Params.env_bookshop_live) }}
                            {{ partial "bookshop" . }}
                          {{ else }}
                            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
                          {{ end }}
                        </div>
                      {{ end }}
                      {{ with .column_b }}
                        <div class="col-xl mb-5 mb-xl-0">
                          {{ if or (ne .show_content false) (not site.Params.env_bookshop_live) }}
                            {{ partial "bookshop" . }}
                          {{ else }}
                            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
                          {{ end }}
                        </div>
                      {{ end }}
                      {{ with .column_c }}
                        <div class="col-xl mb-5 mb-xl-0">
                          {{ if or (ne .show_content false) (not site.Params.env_bookshop_live) }}
                            {{ partial "bookshop" . }}
                          {{ else }}
                            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
                          {{ end }}
                        </div>
                      {{ end }}
                      {{ with .column_aa }}
                        <div class="col-24 col-lg-10 col-xl-8">
                          {{ if or (ne .show_content false) (not site.Params.env_bookshop_live) }}
                            {{ partial "bookshop" . }}
                          {{ else }}
                            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
                          {{ end }}
                        </div>
                      {{ end }}
                      {{ with .column_aaa }}
                        <div class="col-24 col-lg-12 col-xl-6 mb-5 mb-xl-0">
                          {{ if or (ne .show_content false) (not site.Params.env_bookshop_live) }}
                            {{ partial "bookshop" . }}
                          {{ else }}
                            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
                          {{ end }}
                        </div>
                      {{ end }}
                      {{ with .column_bbb }}
                        <div class="col-24 col-lg-12 col-xl-6 mb-5 mb-xl-0">
                          {{ if or (ne .show_content false) (not site.Params.env_bookshop_live) }}
                            {{ partial "bookshop" . }}
                          {{ else }}
                            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
                          {{ end }}
                        </div>
                      {{ end }}
                      {{ with .column_aaaa }}
                        <div class="col-24 col-lg-6 col-xl-4 mb-5 mb-xl-0">
                          {{ if or (ne .show_content false) (not site.Params.env_bookshop_live) }}
                            {{ partial "bookshop" . }}
                          {{ else }}
                            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip-dynamic-component" .) }}
                          {{ end }}
                        </div>
                      {{ end }}
                    </div>
                  {{ end }}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  {{ end }}

{{ end }}
