{{ range .blocks }}

  {{ $src := "" }}
  {{ $backgroundColor := "" }}

  {{ if .background_image }}
    {{ $src = .background_image }}
    {{ $backgroundColor = "dark" }}
  {{ end }}

  {{ if .settings.styles.background_c }}
    {{ $backgroundColor = .settings.styles.background_c }}
  {{ end }}

  {{ $padding := "py-6 py-xxl-7" }}

  {{ $heading := "" }}
  {{ $subheading := "" }}

  {{ if .heading }}{{ $heading = .heading }}{{ end }}
  {{ if .subheading }}{{ $subheading = .subheading }}{{ end }}

  {{- if not site.Params.env_bookshop_live -}}
    {{ $image := "" }}
    {{/*  Get the image, either from its remote or local source  */}}
    {{ if hasPrefix $src "http"}}
      {{ $image = resources.GetRemote .background_image }}
    {{ else }}
      {{ $image = resources.Get .background_image }}
    {{ end }}

    {{/* Resize images and add them to a variable  */}}
    {{ if and $image (ne $image.MediaType.SubType "svg") }}
      {{ if eq .imageProcess "fit" }}
        {{ $src = ($image.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
      {{ else }}
        {{ $src = ($image.Fill (printf "%dx%d webp" 1920 1080)).RelPermalink }}
      {{ end }}
    {{ end }}
  {{- end -}}

  {{ if or site.Params.env_bookshop_live (ne .settings.config.edit_mode_only true) }}

    {{ $styles := .settings.styles }}
    {{ $maxCols := "24" }}

    {{ if .settings.layout.max_cols }}{{ $maxCols = .settings.layout.max_cols }}{{ end }}

    <section class="c-{{ ._component_name }} section-component {{ .settings.layout.padding }} position-relative bg-">
      {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .settings.styles)) }}

      <div class="container wvu-z-index-content">
        <div class="{{ .settings.layout.margin }} {{ if .settings.layout.margin }}bg-white shadow{{ end }}">
          <div class="{{ .settings.layout.buffer }}">
            {{ if .settings.config.include_heading_postscript }}
              {{ if or .heading .subheading }}
                <div class="mb-6 text-center">
                  {{ with .heading }}
                    <h2 class="wvu-shout h1 wvu-text-letter-spacing-lg mb-3">{{ . }}</h2>
                  {{ end }}

                  {{ with .subheading }}
                    <p class="lead mb-3">{{ . }}</p>
                  {{ end }}
                </div>
              {{ end }}

              {{ partial "bookshop" . }}

              {{ with .postscript }}
                <div class="text-center">
                  {{ with .copy }}
                    <div class="mb-4">
                      {{ . | markdownify }}
                    </div>
                  {{ end }}

                  {{ with .ctas }}
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      {{ range . }}
                        <a class="btn btn-{{ $styles.background_c }} bg-{{ $styles.background_c }}-subtle" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            {{ else }}
              {{ partial "bookshop" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>

  {{ end }}

{{ end }}
