{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name (dict "topper" .topper "title" "" "params" .params)) }}
{{ end }}

{{ range .blocks }}

  {{ if and .is_sitewide site.Params.env_bookshop_live }}
    <div class="py-6 py-xxl-7">
      <div class="container">
        <div class="alert alert-info">
          This is a sitewide section. It will not show in the Live Editor.
        </div>
      </div>
    </div>
  {{ end }}

  {{ partial "bookshop" . }}

{{ end }}
