{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name (dict "topper" .topper "title" .title "params" .params)) }}
{{ else }}
  {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .topper "title" .title "params" .params)) }}
{{ end }}

<main class="py-6 wvu-backpage-main tone-default bg-option-1 wvu-b-subtle">
  <div class="container text-dark">
    <div class="row">
      <div class="col-xl-5">
        <h2 class="wvu-b-label h6 mb-4">Section Menu</h2>
        {{ partial "bookshop" (slice "design-system/column_sm/section-menu" (dict "current_page" .current_page "section_pages" .section_pages)) }}
      </div>
      <div class="col-xl-10 mx-xl-auto">
        {{ range .detail_blocks }}
          {{ partial "bookshop" . }}
        {{ end }}
      </div>
      <div class="col-xl-5">
        <div class="c-jump-links mb-5 pt-5 mt-n5 sticky-top">
          {{ range .sidebar_blocks }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>
