{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name (dict "topper" .topper "title" "" "params" .params)) }}
{{ end }}

{{ range .blocks }}

  {{ if and .is_sitewide site.Params.env_bookshop_live }}
    <div class="py-6 py-xxl-7">
      <div class="container">
        <div class="alert alert-info">
          This is a sitewide section. It will not show in the Live Editor.
        </div>
      </div>
    </div>
  {{ end }}

  {{ $src := "" }}
  {{ $backgroundColor := "" }}

  {{ if .settings.styles.color_palette }}
    {{ $backgroundColor = .settings.styles.color_palette }}
  {{ end }}

  {{ if .background_image }}
    {{ $src = .background_image }}
    {{ if not .settings.styles.enable_blend }}
      {{ $backgroundColor = "option-2" }}
    {{ end }}
  {{ end }}

  {{- if not site.Params.env_bookshop_live -}}
    {{ $image := "" }}
    {{/*  Get the image, either from its remote or local source  */}}
    {{ if hasPrefix $src "http"}}
      {{ $image = resources.GetRemote .background_image }}
    {{ else }}
      {{ $image = resources.Get .background_image }}
    {{ end }}

    {{/* Resize images and add them to a variable  */}}
    {{ if and $image (ne $image.MediaType.SubType "svg") }}
      {{ if eq .imageProcess "fit" }}
        {{ $src = ($image.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
      {{ else }}
        {{ $src = ($image.Fill (printf "%dx%d webp" 1920 1080)).RelPermalink }}
      {{ end }}
    {{ end }}
  {{- end -}}

  {{ if or site.Params.env_bookshop_live (ne .settings.config.edit_mode_only true) }}

    <section id="" class="audience-{{ .settings.styles.audience }} tone-{{ .settings.styles.tone }} wvu-b-text xsection-component {{ .settings.layout.padding }} position-relative bg-{{ $backgroundColor }} {{ if .settings.styles.bg_subtle }}wvu-b-subtle{{ end }}">
      {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .settings.styles "config" .settings.config)) }}
      {{ if .is_nested }}
        {{ if .heading }}
          <h2 class="position-absolute display-4 wvu-text-vertical wvu-b-display-heading wvu-b-accent-text h6 small wvu-text-letter-spacing-lg h-100 wvu-z-index-max mt-n5 mx-0"><span class="d-block bg- p-2">{{ .heading }}</span></h2>
        {{ end }}
      {{ end }}

      {{ partial "bookshop" . }}
    
    </section>

  {{ end }}

{{ end }}
