{{ $containerMargin := "" }}

{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name (dict "topper" .topper "params" .params)) }}
  {{ if ne .topper._bookshop_name "design-system/topper/default" }}
    {{ $containerMargin = "mt-n9" }}
  {{ end }}
{{ else }}
  {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .topper "title" .params.name)) }}
{{ end }}

<main class="py-6 wvu-backpage-main wvu-z-index-content">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="me-lg-n5">
          {{ partial "bookshop" (slice "design-system/generic/blockquote" (dict "text" .params.quote "size" "fs-5")) }}
        </div>
      </div>
      <div class="col-xl-14 ms-xl-auto">
        <div class="bg-white p-6 {{ $containerMargin }}">
          {{ range .detail_blocks }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      </div>
      <div class="col-xl-5">
        <div class="ms-lg-n5">
          {{ range .sidebar_blocks }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>