{{ $mainCols := "col-xl-10 mx-xl-auto" }}

{{ if .hide_section_menu }}
  {{ $mainCols = "col-xl-15 me-xl-auto" }}
{{ end }}

{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name (dict "topper" .topper "title" .title "params" .params)) }}
{{ else }}
  {{ partial "bookshop" (slice "design-system/topper/default" (dict "topper" .topper "title" .title "params" .params)) }}
{{ end }}

<main class="py-6 wvu-backpage-main tone-default bg-option-1 wvu-b-subtle">
  <div class="container text-dark">
    <div class="row mb-n5">
      <div class="{{ $mainCols }} mb-5">
        {{ range .detail_blocks }}
          {{ partial "bookshop" . }}
        {{ end }}
      </div>
      <div class="col-xl-5 mb-5">
        <div class="c-jump-links mb-5 pt-5 mt-n5 sticky-top">
          {{ range .sidebar_blocks }}
            {{ partial "bookshop" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>
