{{ if and .topper .topper._bookshop_name }}
  {{ partial "bookshop" (slice .topper._bookshop_name .) }}
{{ end }}

{{ range .blocks }}

  {{ $audienceOverride := "" }}
  {{ $toneOverride := "" }}
  {{ $bgSubtle := "" }}

  {{ if .settings.styles.audience }}
    {{ $audienceOverride = "override-audience-styles-site" }}
  {{ end }}

  {{ if .settings.styles.tone }}
    {{ $toneOverride = "override-tone-styles-site" }}
  {{ end }}

  {{ $src := "" }}
  {{ $backgroundColor := "" }}

  {{ if .settings.styles.color_palette }}
    {{ $backgroundColor = .settings.styles.color_palette }}
  {{ end }}

  {{ if and .background_image (not .settings.styles.enable_blend) }}
    {{ $src = .background_image }}
    {{ $backgroundColor = "dark" }}
  {{ end }}

  {{ if .settings.styles.bg_subtle }}
    {{ $bgSubtle = "wvu-b-subtle" }}
  {{ end }}

  {{ $heading := "" }}
  {{ $subheading := "" }}

  {{ if .heading }}{{ $heading = .heading }}{{ end }}
  {{ if .subheading }}{{ $subheading = .subheading }}{{ end }}

  {{- if not site.Params.env_bookshop_live -}}
    {{ $image := "" }}
    {{/*  Get the image, either from its remote or local source  */}}
    {{ if hasPrefix $src "http"}}
      {{ $image = resources.GetRemote .background_image }}
    {{ else }}
      {{ $image = resources.Get .background_image }}
    {{ end }}

    {{/* Resize images and add them to a variable  */}}
    {{ if and $image (ne $image.MediaType.SubType "svg") }}
      {{ if eq .imageProcess "fit" }}
        {{ $src = ($image.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
      {{ else }}
        {{ $src = ($image.Fill (printf "%dx%d webp" 1920 1080)).RelPermalink }}
      {{ end }}
    {{ end }}
  {{- end -}}

  {{ if or site.Params.env_bookshop_live (ne .settings.config.edit_mode_only true) }}

    {{ $styles := .settings.styles }}
    {{ $maxCols := "24" }}

    {{ if .settings.layout.max_cols }}{{ $maxCols = .settings.layout.max_cols }}{{ end }}

    <section class="c-section-{{ ._component_name }} {{ $audienceOverride }} {{ $toneOverride }} audience-{{ .settings.styles.audience }} tone-{{ .settings.styles.tone }} wvu-b-text xsection-component {{ .settings.layout.padding }} position-relative bg-{{ $backgroundColor }} {{ $bgSubtle }}">
      {{ partial "bookshop_partial" (slice "section_background_simple" (dict "image" $src "styles" .settings.styles "config" .settings.config)) }}

      <div class="container wvu-z-index-content">
        <div class="{{ .settings.layout.margin }} {{ if .settings.layout.margin }}{{ if not .settings.styles.remove_container_background }}bg-white p-5 p-xl-6 wvu-b-shadow wvu-b-border{{ end }}{{ end }}">
          <div class="{{ .settings.layout.buffer }}">
            {{ if .is_nested }}
              <div class="row justify-content-center gx-xl-5">
                <div class="col-xl-12 mb-5 mb-xl-0">
                  {{ with .column_a }}
                    {{ partial "bookshop" . }}
                  {{ end }}
                </div>
                <div class="col-24 col-lg-12 col-xl-6 mb-5 mb-xl-0">
                  {{ with .column_b }}
                    {{ partial "bookshop" . }}
                  {{ end }}
                </div>
                <div class="col-24 col-lg-12 col-xl-6">
                  {{ with .column_c }}
                    {{ partial "bookshop" . }}
                  {{ end }}
                </div>
              </div>
            {{ else if .settings.config.include_heading_postscript }}
              {{ if .heading }}
                <div class="pb-3">
                  <div class="mb-5 text-center">
                    {{ with .heading }}
                      <h2 class="wvu-shout h1 wvu-text-letter-spacing-lg mb-3">{{ . }}</h2>
                    {{ end }}

                    {{ with .subheading }}
                      <p class="lead mb-3">{{ . }}</p>
                    {{ end }}
                  </div>
                </div>
              {{ end }}

              {{ partial "bookshop" . }}

              {{ with .postscript }}
                <div class="text-center">
                  {{ with .copy }}
                    <div class="mb-4">
                      {{ . | markdownify }}
                    </div>
                  {{ end }}

                  {{ with .ctas }}
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      {{ range . }}
                        <a class="btn btn-{{ $styles.background_c }} bg-{{ $styles.background_c }}-subtle" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
                      {{ end }}
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            {{ else }}
              {{ partial "bookshop" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>

  {{ end }}

{{ end }}
