{{ $src := .image }}
{{ $alt := .alt }}

{{- if not site.Params.env_bookshop_live -}}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ $src = ($image.Fill (printf "%dx%d webp" 960 960)).RelPermalink }}
  {{ end }}
{{- end -}}

<div class="audience-general tone-lets-go bg-option-2 position-relative py-6">
  <div class="wvu-bg-img">
    <div class="wvu-b-pattern wvu-b-pattern-color h-100 w-100 position-absolute" style="opacity: .2"></div>
    <div class="wvu-b-gradient d-flex w-100 h-100 justify-content-between position-absolute"></div>
  </div>
  <div class="container position-relative wvu-z-index-content">
    <div class="row">
      <div class="col-lg-12 col-xl-10 mx-lg-auto text-center">
        <div class="d-flex flex-column align-items-center">
          {{ if .masthead_link_text }}
            <p class="mb-5 wvu-b-label">
              {{ if .masthead_link_url }}
                <a class="text-decoration-none" href="{{ .masthead_link_url }}">{{ .masthead_link_text }}</a>
              {{ else }}
                {{ .masthead_link_text }}
              {{ end }}
            </p>
          {{ end }}
          {{ if $src }}
            <div class="mb-4" style="width: 150px; height: 150px;">
              <img class="rounded-circle" src="{{ $src }}" alt="{{ $alt }}" />
            </div>
          {{ end }}
          <h1>{{ .title }}</h1>
          {{ if .subheading }}
            <p class="lead mb-0">{{ .subheading }}</p>
          {{ end }}
          {{ if .social_media_accounts }}
            <ul class="list-inline mb-0 mt-3">
              {{ range .social_media_accounts }}
                <li class="list-inline-item">
                  <a class="bg-wvu-gold border border-2 border-wvu-blue text-wvu-blue mb-0 text-decoration-none d-flex align-items-center justify-content-center rounded-circle p-3" href="{{ .url }}">
                    <span class="fab fa-{{ .social_media_platform }} position-absolute" aria-hidden="true"></span>
                    <span class="visually-hidden">{{ .username }} on {{ .social_media_platform }}</span>
                  </a>
                </li>          
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="mt-5">
      {{ range .blocks }}
        {{ partial "bookshop" . }}
      {{ end }}
    </div>
  </div>
</div>