{{ $containerMargin := "" }}

<main class="py-6 position-relative audience-general tone-default wvu-b-subtle">
  <div class="container {{ $containerMargin }}">
    <div class="row">
      <div class="col-xl-14 mx-xl-auto">
        <div class="bg-option-1 p-5">
          <div class="antonia-regular text-dark fs-5 ">
            {{ range .article_blocks }}
              {{ partial "bookshop" . }}
            {{ end }}
          </div>
          
          {{ if not site.Data }}
            {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display content inside the Bookshop browser." ) ) }}
          {{ else if and (site.Params.env_bookshop_live) .params.authors (not .params.show_author_bios) }}
            <div class="mt-5">
              {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Show Author Bios' is currently set to 'false' in the article’s config to speed up editing. To see the bios, check the 'Show Author Bios' box in the article’s config.")) }}
            </div>
          {{ else if and .params.authors .params.show_author_bios }}
            {{ range .params.authors }}
              {{ partial "bookshop" (slice "design-system/column/author-bio" (dict "author" .author)) }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>