{{ $blendMode := "" }}
{{ $imageOpacity := "" }}

{{ if and .styles .styles.enable_blend }}
  {{ $blendMode = "wvu-bg-blend-mode-luminosity" }}
  {{ $imageOpacity = "0.2" }}
{{ end }}

<div class="wvu-bg-img">
  <div class="wvu-b-gradient d-flex w-100 h-100 justify-content-between position-absolute"></div>
  {{ if .image }}
    <img class="object-fit-cover h-100 w-100 position-relative {{ $blendMode }}" style="opacity: {{ $imageOpacity }}" src="{{ .image }}" />
    {{ if not $blendMode }}
      <div class="position-absolute wvu-bg-tint w-100 h-100" style="opacity: {{ .styles.tint_opacity }}"></div>
    {{ end }}
  {{ end }}
</div>