{{ $styles := .component.settings.styles }}

<section class="section-component py-6 py-xxl-7 position-relative bg-{{ .component.settings.styles.background_c }}">
  <div class="container">      
    <div class="row justify-content-center">
      <div class="col-xl-24 col-xxl-20">
        <div class="{{ .component.settings.layout.margin }} bg-{{ .component.settings.styles.background_c }}">
          {{ if or .component.heading .component.subheading }}
            <div class="mb-6 text-center text-wvu-blue">
              {{ with .component.heading }}
                <h2 class="wvu-shout display-5 wvu-text-letter-spacing-lg mb-3">{{ . }}</h2>
              {{ end }}

              {{ with .component.subheading }}
                <p class="lead mb-3">{{ . }}</p>
              {{ end }}
            </div>
          {{ end }}

          {{ partial "bookshop" (slice .name .component) }}

          {{ with .component.postscript }}
            <div class="text-center">
              {{ with .copy }}
                <div class="mb-4">
                  {{ . | markdownify }}
                </div>
              {{ end }}

              {{ with .ctas }}
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  {{ range . }}
                  <a class="btn btn-{{ $styles.background_c }} bg-{{ $styles.background_c }}-subtle" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>