{{ $styles := .settings.styles }}

<div class="row gx-lg-5 justify-content-center wvu-justify-children mb-n5">

  {{ range .items }}

    {{ $src := .image }}

    {{- if not site.Params.env_bookshop_live -}}
      {{ $image := "" }}
      {{/*  Get the image, either from its remote or local source  */}}
      {{ if hasPrefix $src "http"}}
        {{ $image = resources.GetRemote .image }}
      {{ else }}
        {{ $image = resources.Get .image }}
      {{ end }}
    
      {{/* Resize images and add them to a variable  */}}
      {{ if and $image (ne $image.MediaType.SubType "svg") }}
        {{ $src = ($image.Fill (printf "%dx%d webp" 960 640)).RelPermalink }}
      {{ end }}
    {{- end -}}

    <div class="col-lg-12 col-xl-8 col-xxl-6 mb-5">
      {{ if .image }}
        <div class="mb-3">
          <div class="ratio ratio-3x2">
            <img leading="lazy" class="object-fit-cover" src="{{ $src }}" alt="{{ .alt_text }}" />
          </div>
        </div>
      {{ end }}

      <h2 class="wvu-b-display-heading h2"><span class="wvu-b-font-adjust">{{ .title }}</span></h2>
      <p>{{ .text | markdownify }}</p>
      {{ with .ctas }}
        {{ range . }}
          <a class="btn wvu-b-btn btn-sm" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
        {{ end }}
      {{ end }}
    </div>

  {{ end }}
</div>