{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}
  <section id="video-feature-1" aria-labelledby="video-feature-1-label" class="section-component py-6 bg-dark text-white text-center">  
    <div class="container wvu-z-index-content">      
      <h2 id="video-feature-1-label" class="h1 wvu-shout wvu-text-letter-spacing-lg">Video Feature Headline</h2>
      <p class="h4 helvetica-neue-light mb-5 mt-4">Subhead goes here.</p>    
      <div class="row">
        <div class="col-xxl-18 mx-xxl-auto">
          <div class="row gx-xxl-5">
            <div class="col-md-16 mx-auto mb-3 mb-md-0">
              {{ if .id }}
                <div class="ratio ratio-16x9">
                  <iframe src="https://www.youtube.com/embed/{{ .id }}" title="{{ .title }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
              {{ end }}
            </div>
            <div class="col-md-8 text-start">
              <h3 class="oliviar-black">{{ .title }}</h3>          
              <p>
                {{ .description }}
              </p>
            </div>
          </div>
          <div class="mt-5 wvu-z-index-content">
            <div class="wvu-z-index-content mb-2">
              <p class="mb-0">View 
                <a class="text-wvu-gold" href="#">more videos</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}