<div class="accordion mb-4" id="accordion">
  {{ range $index, $panel := .panels }}

    {{ $src := .image }}

    {{- if not site.Params.env_bookshop_live -}}
      {{ $image := "" }}
      {{/*  Get the image, either from its remote or local source  */}}
      {{ if hasPrefix $src "http"}}
        {{ $image = resources.GetRemote .image }}
      {{ else }}
        {{ $image = resources.Get .image }}
      {{ end }}
    
      {{/* Resize images and add them to a variable  */}}
      {{ if and $image (ne $image.MediaType.SubType "svg") }}
        {{ $src = ($image.Fill (printf "%dx%d webp" 960 640)).RelPermalink }}
      {{ end }}
    {{- end -}}

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="fs-1 lh-1 py-4 accordion-button collapsed border-start-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ $index }}" aria-expanded="false" aria-controls="collapse-{{ $index }}">
          <span class="ms-n1">{{ .name }}</span>
        </button>
      </h2>
      <div id="collapse-{{ $index }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
        <div class="accordion-body">
          <div class="row">
            <div class="col-12">
              {{ if .image }}
                <div class="ratio ratio-3x2">
                  <img leading="lazy" class="object-fit-cover" src="{{ $src }}" alt="{{ .alt_text }}" />
                </div>
              {{ end }}
            </div>
            <div class="col-12">
              <h3>{{ .heading }}</h3>
              <div class="small">
                {{ .text | markdownify }}
              </div>
              {{ with .ctas }}
                <div class="mt-4">
                  {{ range . }}
                    <a class="btn btn-primary" href="{{ .url }}">{{ .text }}{{ if .icon }} <span class="fa-regular fa-{{ .icon }}"></span>{{ end }}</a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>