{{ $styles := .settings.styles }}

<div class="row gx-4">
  {{ range .items }}
    <div class="col-24 col-lg-12 col-lg-6 mb-5">
      <div class="h-100 {{ if .background_c }}bg-{{ .background_c }}{{ else }}bg-{{ $styles.background_c }}{{ if not $styles.tint_shade }}-subtle{{ end }}{{ end }} rounded-2 shadow-sm">
        <div class="mb-2 d-flex justify-items-center">
          <div class="bg-wvu-{{ .settings.styles.icon_c }} h1 rounded-circle p-4 d-flex mx-auto align-items-center justify-content-center">
            <span class="fa-solid fa-{{ .icon }} position-absolute" aria-hidden="true"></span>
          </div>
        </div>  
        <h3 class="iowan-old-style h1">{{ .title }}</h3>
        <p>{{ .text | markdownify }}</p>
        {{ with .ctas }}
          {{ range . }}
            <a class="btn btn-primary" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>