<div class="p-5 wvu-b-subtle h-100 mb-n3">
  {{ $contacts := slice }}

  {{ if .heading }}
    <h2 class="wvu-b-label h6 mb-4">{{ .heading }}</h2>
  {{ end }}

  {{ if not site.Data }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display content inside the Bookshop browser." ) ) }}
  {{ else if and (site.Params.env_bookshop_live) (not .config.show_content) }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" .) }}
  {{ else }}

    {{ if not site.Params.env_bookshop_live }}
      {{ $contacts = where site.RegularPages "Params.is_contact" true }}
    {{ else }}
      {{ $contacts = where site.Data.people_data ".is_contact" true }}
    {{ end }}

    {{ range .people }}
      {{ $label := .label }}
      {{ $contact := .contact }}
      {{ range $contacts }}

        {{ $params := . }}

        {{ if not site.Params.env_bookshop_live }}
          {{ $params = .Params }}
        {{ end }}

        {{ if eq $params.uuid $contact }}
          <div class="row gx-3 mb-3">
            {{ if $params.profile_image }}

              {{ $src := $params.profile_image }}

              {{- if not site.Params.env_bookshop_live -}}
                {{ $image := "" }}
                {{/*  Get the image, either from its remote or local source  */}}
                {{ if hasPrefix $src "http"}}
                  {{ $image = resources.GetRemote $src }}
                {{ else }}
                  {{ $image = resources.Get $src }}
                {{ end }}

                {{/* Resize images and add them to a variable  */}}
                {{ if and $image (ne $image.MediaType.SubType "svg") }}
                  {{ $src = ($image.Fill (printf "%dx%d webp" 250 250)).RelPermalink }}
                {{ end }}
              {{- end -}}

              <div class="col-6">
                <div class="w-100">
                  <div class="ratio ratio-1x1">
                    <img class="object-fit" src="{{ $src }}" alt="{{ if $params.image.alt }}{{ $params.image.alt }}{{ else }}Portrait of {{ $params.name }}{{ end }}" />
                  </div>
                </div>
              </div>
            {{ end }}
            <div class="col">
              {{ if $label }}<div class="wvu-b-label position-relative small"><p class="mb-1">{{ $label }}</p></div>{{ end }}
              <h3 class="h5 mb-1">{{ $params.name }}</h3>
              <p class="small mb-0">
                {{ if $params.staff_contact_info }}
                  {{ range $params.staff_contact_info }}
                    {{ if eq ._bookshop_name "design-system/simple/phone" }}
                      <div class="small position-relative">
                        <span class="fa-solid fa-phone position-absolute" style="top: 4px;"></span> <a class="ms-4" href="tel:{{ .phone_n }}">{{ .phone_n }}</a>
                      </div>
                    {{ else if eq ._bookshop_name "design-system/simple/email" }}
                      <div class="small position-relative">
                        <span class="fa-solid fa-envelope position-absolute" style="top: 4px;"></span> <a class="ms-4" href="mailto:{{ .address }}">Email</a>
                      </div>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </p>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>