<div class="row justify-content-center">
  {{ with .office }}
    <div class="col-md mb-4 mb-md-0">        
      <div class="h3">
        <span class="fa-solid fa-{{ .icon }}" aria-hidden="true"></span>
      </div>
      <h2 class="h5 iowan-old-style-black">{{ .heading }}</h2>
      {{ with .items }}
        {{ range . }}
          <address>
            {{ with .heading }}
              <strong class="d-block">{{ . }}</strong>
            {{ end }}
            {{ with .lines }}
              {{ range . }}
                <span class="d-block">{{ . }}</span>
              {{ end }}
            {{ end }}
          </address>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
  {{ with .phone }}
    <div class="col-md mb-4 mb-md-0">
      <div class="h3">
        <span class="fa-solid fa-{{ .icon }}" aria-hidden="true"></span>
      </div>
      <h2 class="h5 iowan-old-style-black">{{ .heading }}</h2>
      <address>
        (304) 293-1234
      </address>
    </div>
  {{ end }}
  {{ with .fax }}  
    <div class="col-md mb-4 mb-md-0">
      <div class="h3">
        <span class="fa-solid fa-{{ .icon }}" aria-hidden="true"></span>
      </div>
      <h2 class="h5 iowan-old-style-black">{{ .heading }}</h2>
      <address>(304) 293-5678</address>
    </div>
  {{ end }}
  {{ with .email }}
    <div class="col-md">
      <div class="h3">
        <span class="fa-solid fa-{{ .icon }}" aria-hidden="true"></span>
      </div>
      <h2 class="h5 iowan-old-style-black">{{ .heading }}</h2>
      {{ with .items }}
        {{ range .items }}
          {{ with .heading }}
            <strong class="d-block">{{ . }}</strong>
          {{ end }}
          <a href="mailto:{{ .email }}">{{ .email }}</a>
        {{ end }}
      {{ end }}
      </address>
    </div>
  {{ end }}
</div>