<div class="row justify-content-center">
  {{ with .office }}
    {{ if .heading }}
      <div class="col-md mb-4 mb-md-0">        
        <div class="h3">
          <span class="fa-solid fa-{{ .icon }}" aria-hidden="true"></span>
        </div>
        <h2 class="h5 iowan-old-style-black">{{ .heading }}</h2>
        {{ with .items }}
          {{ range . }}
            <address>
              {{ if .heading }}
                <strong class="d-block">{{ .heading }}</strong>
              {{ end }}
              {{ if .lines }}
                {{ range .lines }}
                  <span class="d-block">{{ . }}</span>
                {{ end }}
              {{ end }}
            </address>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
  {{ with .phone }}
    {{ if .heading }}
      <div class="col-md mb-4 mb-md-0">
        <div class="h3">
          <span class="fa-solid fa-{{ .icon }}" aria-hidden="true"></span>
        </div>
        <h2 class="h5 iowan-old-style-black">{{ .heading }}</h2>
        {{ with .items }}
          {{ range . }}
            <p class="mb-0">
              {{ if .heading }}
                <strong class="d-block">{{ .heading }}</strong>
              {{ end }}
              <span class="d-block">{{ .phone }}</span>
            </p>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
  {{ with .fax }}
    {{ if .heading }}
      <div class="col-md mb-4 mb-md-0">
        <div class="h3">
          <span class="fa-solid fa-{{ .icon }}" aria-hidden="true"></span>
        </div>
        <h2 class="h5 iowan-old-style-black">{{ .heading }}</h2>
        {{ with .items }}
          <p class="mb-0">
            {{ range . }}
              {{ if .heading }}
                <strong class="d-block">{{ .heading }}</strong>
              {{ end }}
              <span class="d-block">{{ .fax }}</span>
            {{ end }}
          </p>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
  {{ with .email }}
    {{ if .heading }}
      <div class="col-md">
        <div class="h3">
          <span class="fa-solid fa-{{ .icon }}" aria-hidden="true"></span>
        </div>
        <h2 class="h5 iowan-old-style-black">{{ .heading }}</h2>
        {{ if .items }}
          <p class="mb-0">
            {{ range .items }}
              {{ if .heading }}
                <strong class="d-block">{{ .heading }}</strong>
              {{ end }}
              <a href="mailto:{{ .email }}">{{ .email }}</a>
            {{ end }}
          </p>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>