
    <div class="bg-white wvu-z-index-content mb-n5" style="background-color: inherit;">
      {{ range $index, $element := .lists }}
        <div class="{{ if ne $index 0 }}border-top border-1 border-dark-50 py-5{{ else }}pb-5{{ end }}">
          <div class="row">
            <div class="col-10 me-auto">
              <h2 class="wvu-b-display-heading text-wvu-blue">{{ .topic }}</h2>
              <p class="mb-0">{{ .description }}</p>
            </div>
            <div class="col-12">
              <ul class="wvu-ul-chevrons">
                {{ range .items }}
                  <li><a class="text-decoration-none text-wvu-neutral--warm-gray-dark" href="{{ .url }}">{{ .text }}</a></li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
