<div class="wvu-z-index-content bg-white wvu-b-shadow wvu-b-border mt-n5">
  {{ range .lists }}
    <div class="border-bottom border-1 border-dark-50 py-5">
      <div class="row gx-5 gx-xxl-6">
        <div class="col-12">
          <h2 class="display-5 wvu-b-display-heading wvu-text-shadow text-wvu-blue">{{ .topic }}</h2>
          <p class="mb-0">{{ .description }}</p>
        </div>
        <div class="col-12">
          <ul class="wvu-ul-chevrons">
            {{ range .items }}
              <li><a class="text-decoration-none text-wvu-neutral--warm-gray-dark" href="{{ .url }}">{{ .text }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  {{ end }}
</div>