{{ $peopleData := slice }}
{{ $name := "" }}
{{ $image := "" }}
{{ $hometown := "" }}
{{ $majors := slice }}
{{ $graduationYear := "" }}

{{ if or (not site.Params.env_bookshop_live) .config.show_content }}

  {{ if .student }}
    {{ $peopleData = site.Data.people_data }}
    {{ $student := .student }}

    {{ range $peopleData }}
      {{ if eq .uuid $student }}
        {{ $name = .name }}
        {{ $image = .profile_image }}
        {{ $hometown = .hometown }}
        {{ $majors = .majors }}
        {{ $graduationYear = .graduation_year }}
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}

{{ if or site.Params.env_bookshop_live (ne .config.edit_mode_only true) }}

  {{ if .heading }}
    <h2 class="h6 oliviar-black mb-4 border-top border-1 border-wvu-blue pt-2">{{ .heading }}</h2>
  {{ end }}

  {{ if not site.Data }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "This component will not display the collection pages inside the bookshop browser" ) ) }}
  {{ else if and (site.Params.env_bookshop_live) (not .config.show_content) .student }}
    {{ partial "bookshop" (slice "design-system/generic/collection-tooltip" (dict "text" "'Hide collection pages' is currently selected in this component to speed up the editing of other areas - to see the pages here uncheck 'hide collection pages'" ) ) }}
  {{ else }}
    
    <div class="{{ .styles.container }}">
      <div class="row gx-3">
        <div class="col-9">
          <div class="{{ .styles.image_margin }} mb-3">
            <div class="ratio ratio-1x1 bg-light {{ .styles.image_container }}">
              {{ if $image }}
                {{ $src := $image }}
                {{- if not site.Params.env_bookshop_live -}}
                  {{ $image := "" }}
                  {{/*  Get the image, either from its remote or local source  */}}
                  {{ if hasPrefix $src "http"}}
                    {{ $image = resources.GetRemote $image }}
                  {{ else }}
                    {{ $image = resources.Get $image }}
                  {{ end }}

                  {{/* Resize images and add them to a variable  */}}
                  {{ if and $image (ne $image.MediaType.SubType "svg") }}
                    {{ $src = ($image.Fill (printf "%dx%d webp" 100 100)).RelPermalink }}
                  {{ end }}
                {{- end -}}
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-15">
          <div class="h-100 d-flex w-100 flex-column justify-content-between">
            {{ if $graduationYear }}
              <div class="h6 text-uppercase small oliviar-black {{ .styles.label }}">
                <p>
                  <span class="d-block">Class of {{ $graduationYear }}</span>
                </p>
              </div>
            {{ end }}
            <div class="">
              <h3 class="wvu-shout h5 {{ .styles.heading }}">{{ $name }}</h3>
              {{ if $hometown }}
                <p class="small {{ .styles.hometown }}"><span class="fa-regular fa-location-dot"></span> {{ $hometown }}</p>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-24">
          {{ with $majors }}
            <p class="small"><span class="wvu-shout">Majors:</span> {{ range . }}{{ .title }}; {{ end }}</p>
          {{ end }}
          <a href="{{ .path }}" class="text-decoration-none small">View Profile <span class="fa-regular fa-arrow-circle-right"></span></a>
        </div>
      </div>
    </div>

  {{ end }}

{{ end }}