{{ $styles := .settings.styles }}
{{ $icon := .benefits_icon }}

<div class="p-5 wvu-b-border wvu-b-subtle wvu-b-shadow bg-">
  {{ with .heading }}
    <h2 class="display-5 mb-3 wvu-b-display-heading mb-5">{{ . }}</h2>
  {{ end }}

  <div class="row gx-4">
    <ul class="list-unstyled">
      {{ range .items }}        
        <li class="d-flex mb-4">
          <span class="h2 fa-solid fa-{{ $icon }} wvu-b-accent-text me-3 mt-1"></span>
          <div>
            {{ with .title }}
              <h3 class="h4 mb-0">{{ .title }}</h3>
            {{ end }}
            {{ with .text }}
              <p class="mb-0">{{ . | markdownify }}</p>
            {{ end }}
          </div>
        </li>
      {{ end }}
    </ul>

    {{ with .ctas }}
      {{ range . }}
        <a class="btn btn-primary" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
      {{ end }}
    {{ end }}
  </div>
</div>