{{ $layout := .settings.layout }}
{{ $styles := .settings.styles }}
{{ $config := .settings.config }}

{{ if or site.Params.env_bookshop_live (ne $config.edit_mode_only true) }}

  <section class="section-component py-6 position-relative bg-{{ $styles.background_c }}{{ if $styles.tint_shade }}-subtle{{ end }}">
    <div class="container position-relative">
      <div class="{{ $layout.buffer }}">
        <div class="bg-{{ $styles.background_c }}{{ if $styles.tint_shade }}-subtle{{ end }} {{ $layout.margin }} pb-0 pb-xl-0">
          <div class="p-5 p-xxl-6 bg-white wvu-z-index-content">
            <div class="row">
              <div class="col-xl-10">
                <div class="sticky-xl-top">
                  <div class="mt-xl-n5 pt-xl-5 mb-5">
                    {{ if or .heading .subheading }}          
                      <div class="row text-center mb-5">
                        <div class="col-xl-12 mx-xl-auto">
                          <h2 class="h1 helvetica-neue-condensed-black text-uppercase wvu-text-letter-spacing-lg">{{ .heading }}</h2>
                          {{ with .subheading }}
                            <p class="lead">{{ . }}</p>
                          {{ end }}
                        </div>
                      </div>
                    {{ end }}
                  </div>
                </div>
              </div>
              <div class="col-xl-12 ms-xl-auto">
                
                {{ range .items }}
                  <div class="position-relative bg-light mb-3">
                    <div class="row gx-4">
                      <div class="col">
                        <div class=" p-4 p-xl-5 h-100 rounded-2">
                          <h3 class="oliviar-black h2">{{ .title }}</h3>
                          {{ with .text }}
                            <p class="mb-0">{{ . }}</p>
                          {{ end }}
                        </div>
                      </div>
                      <div class="col-6 col-xl-5 d-flex align-items-center">
                        <a class="stretched-link" href="{{ .url }}"><span class="fa-thin fa-arrow-circle-right display-4 text-wvu-gold"></span></a>
                      </div>
                    </div>
                  </div>
                {{ end }}
                
              </div>
            </div>
            {{ with .postscript }}
              <div class="text-center">
                {{ with .copy }}
                  <div class="mb-4">
                    {{ . | markdownify }}
                  </div>
                {{ end }}

                {{ with .ctas }}
                  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    {{ range . }}
                      <a class="btn btn-{{ $styles.background_c }} {{ if not $styles.tint_shade }}bg-{{ $styles.background_c }}-subtle{{ end }}" href="{{ .url }}">{{ .text }}{{ with .icon }} <span class="fa-regular fa-{{ . }}"></span>{{ end }}</a>
                    {{ end }}
                  </div>
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}